<!DOCTYPE html>
<html>
  <head>
    <!-- El Meta Viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Menu</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link" href="">Tools</a>
              <a class="mdl-navigation__link" href="">Methods</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
            </nav> -->
          </div>
          </header>
          <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Menu</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/tools/index.html">Tools</a>
            <a class="mdl-navigation__link" href="/methods/index.html">Methods</a>
            
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content"><!-- Your content goes here -->
          <%= yield %>
          <div class="espacio">
  				  <footer class="mdl-mini-footer piedepagina">
              <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy & Terms</a></li>
                </ul>
              </div>
            </footer>
  			  </div>
          </div>
        </main>
      </div>
  </body>
</html>