
<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
  	<div class="page-content"><!-- Your content goes here -->
		
			<div class="snippet-group">
      <div class="snippet-header">
      <div class="snippet-demos">
        <div class="snippet-demo-padding"></div>
        <div class="snippet-demo">
        	<br/>
          <div class="mdl-card mdl-shadow--4dp mdl-card mdl-color--blue-50">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Functions</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="radios">
          <ul class="demo-list-control mdl-list">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons  mdl-list__item-avatar">functions</i>
                      function 1
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
                    <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" checked />
                  </label>
                </span>
             </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons  mdl-list__item-avatar">functions</i>
                   function 2   
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2" >
                  	
                    <input type="radio" id="list-option-2" class="mdl-radio__button" name="options" value="2"/>
                  </label>
                </span>
             </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons  mdl-list__item-avatar">functions</i>
                      function 3
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-3">
                    <input type="radio" id="list-option-3" class="mdl-radio__button" name="options" value="3" />
                  </label>
                </span>
             </li>
          </ul>
        </div>
      </div>
      <div class="botones mdl-card__actions mdl-card--border ">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <i class="material-icons">add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <i class="material-icons">done</i>
        </button>
      </div>
    </div>
        </div>
        <div class="snippet-demo-padding"></div>
      </div>
    </div>
    
    </div>
    
  	</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-2">
  	<div class="page-content"><!-- Your content goes here -->
		<h3>Tab 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iusto hic neque quam, sapiente eligendi adipisci porro, odio incidunt, asperiores illum earum natus reprehenderit quo atque aspernatur commodi, cumque deleniti!</p>
  	</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-3">
  	<div class="page-content"><!-- Your content goes here -->
		<h3>Tab 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat a et at vero esse, dolores eveniet deserunt molestias laboriosam. Consequuntur earum ad cumque voluptatem sunt, quas velit molestiae sit sapiente?</p>
  	</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-4">
  	<div class="page-content"><!-- Your content goes here -->
		<h3>Tab 4</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit animi non consequatur, quae quasi at, numquam ipsa voluptatibus reprehenderit tempora accusantium molestiae aspernatur recusandae deleniti vitae soluta laborum commodi. Libero!</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
  	</div>
</section>
